* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin-left: 0;
}
.hero {
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(assets/pexels-souvenirpixels-1519088.jpg);
  background-size: cover;
  padding: 100px;
}

.hero-text {
  text-align: center;
  color: white;
  max-width: 800px;
  margin: auto;
}

.hero-text h1 {
  margin-bottom: 20px;
}

.hero-text a {
  display: inline-block;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 10px;
}
.hero-text a:hover {
  background-color: rgb(70, 70, 70, 0.5);
  transition: 0.5s;
}
.description-section {
  text-align: center;
}

.description-section h2 {
  margin-top: 20px;
  margin-bottom: 40px;
}
.description-section p {
  margin-bottom: 40px;
}

.cards {
  background-color: #323232;
}

.card {
  height: 400px;
  
}
