* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin-left: 0;
}
.hero {
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(assets/pexels-souvenirpixels-1519088.jpg);
  background-size: cover;
  padding: 100px;
}

.hero-text {
  text-align: center;
  color: white;
  max-width: 800px;
  margin: auto;
}

.hero-text h1 {
  margin-bottom: 20px;
}

.hero-text a {
  display: inline-block;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 10px;
}
.hero-text a:hover {
  background-color: rgb(70, 70, 70, 0.5);
  transition: 0.1s;
}
.description-section {
  text-align: center;
}

.description-section h2 {
  margin-top: 20px;
  margin-bottom: 40px;
}
.description-section p {
  margin-bottom: 40px;
}

.cards {
  display: flex;
  grid-template-columns: repeat(3, fr);
  background-color: #323232;
  justify-content: center;
  padding: 10px 20px;
}

.card {
  /* height: 400px; */
  width: 30%;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
  margin: 0 10px;
}

.card img {
  width: 100%;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.card h4 {
  margin: 10px;
  margin-top: 20px;
}

.card p {
  margin: 10px;
}
.two-sides {
  display: flex;
}

.side {
  width: 50%;
  text-align: center;
  padding: 0 20px;
}

.side h3 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.side p {
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #2590d5;
  color: white;
}

.bg-dark {
  color: white;
  background-color: #333;
}

.footer {
  background: #000;
  text-align: center;
  padding: 20px;
  color: white;
}
.footer a {
  text-decoration: none;
}
.text-color-primary {
  color: #2590d5;
}
